<div class="jumbotron">
  <h3>Create and share Markdown Wikis</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="services">Create as many public wikis as you want!</h4>
      <p>Free Plan</p>
    </div>
    <div class="col">
      <h4 class="services">Create private wikis!</h4>
      <p>Premium Plan</p>
    </div>
  </div>
</div>
